* {
    box-sizing: border-box;
}
.box {
    width: 1500px;
    height: 500px;
    margin: 10%;
    box-shadow: 20px 10px 50px black;
    overflow: auto;
    background: url("https://static.wikia.nocookie.net/minecraft_ru_gamepedia/images/3/37/%D0%91%D0%B5%D0%BB%D0%B0%D1%8F_%D0%BE%D0%B2%D1%86%D0%B0_JE1.png/revision/latest?cb=20151231015803") 50% 50% contain no-repeat;
    background-position: center;
    background-image: url("https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQiY6a7mjKS9Dz_zLCviJ4d2yUKU1IK7j7R-MNze-N5FHDVYxAsEji4gPSoHZ15gavM");

}
body {
    font-size: 40px;
    background: #16171b;
    margin: 20px;
    color: #fff;
    font-family: sans-serif;
}
.flexbox {
    display: flex;
    border: 20px solid #edddbd;
    min-height: 50vh;
    box-shadow: 0 0 3.75rem -0.625rem #00000066;
}
.flexbox__item {
    border: 20px solid #b9a074;
}
.flexbox__item:nth-child(2) .flexbox__content {
    padding: 60px 40px;
}
.flexbox__content {
    border: none;
    padding: 40px;
    background: linear-gradient(#6f4916, #7e5926);
}

/* ====================================================== */

.flexbox {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap-reverse;
}